.container {
    display:  grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 200px 40px;
    grid-template-areas: 
    "m h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "m f f f f f f f f f f f";
}
.header {
    /* grid-column: 1 / -2;  */
    grid-area: h;
}
.menu {
    /* grid-row: 1 / 4;
    grid-column: -2 / -1; */
    grid-area: m;
}
.content {
    /* grid-column: 1 / -2; */
    grid-area: c;
}
.footer {
    /* grid-column: 1 / -2;      */
    grid-area: f;
}
